<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HEEEEEEEEEEEEEEE</title>
        <script src="static/js/script.js" defer></script>
        <link rel="stylesheet" type="text/css" href="static/styles/style.css">


    </head>
    <body>
        <h1>Website for Translate</h1>
        <p>This website is designed to provide translation services for users. It offers a user-friendly interface where users can input text in one language and receive translations in another language. The website supports multiple languages and uses advanced translation algorithms to ensure accurate and reliable translations.</p>
        <p> What is your first name?</p>
        <input type="text" id="firstName" name="firstName">
        <p> What is your last name?</p>
        <input type="text" id="lastName" name="lastName">
        <p>What is your email address?</p>
        <input type="email" id="email" name="email">
        <!-- <p>What is your phone number?</p>
        <input type="tel" id="phone" name="phone"> -->
        <p>What is your date of birth?</p>
        <input type="date" id="dob" name="dob">
        <p>Do you have any insurance?</p>
        <input type="radio" id="insurance" name="insurance" value="yes">
         <label for="insurance">Yes</label><br>
         <input type="radio" id="insurance" name="insurance" value="no">
         <label for="insurance">No</label><br>
        <p>What is your is address?</p>
        <input type="text" id="address" name="address">
        <p>What medical department do you want to visit?</p>
        <select id="medical_department" name="medical_department">
            <option value="">--Please choose an option--</option>
            <option value="Doctor">Doctor</option>
            <option value="Eye Doctor">Eye Doctor</option>
            <option value="Dentist">Dentist</option>
            <option value="Pediatrician">Pediatrician</option>
            <option value="Psychiatrist">Psychiatrist</option>
            <option value="Other">Other</option>
        </select>
        <br><br>

        <p>Any additional information?</p>
        <textarea type="textarea" id="additionalInfo" name="additionalInfo" placeholder="Enter any additional information here..."></textarea>             
    
        <br><br>
        <button type="submit" id="SubmitButton">Submit</button>
         <style>
           
        </style>
        <dialog id ="myDialog">
            <h2>Are you sure you want to submit?</h2>
            <button id="confirmSubmit">Submit</button>
            <button id="cancelSubmit">Go back</button>
        </dialog>
    </body>
</html>